* {
  nargin: 0;
  padding: 0; }

html {
  font-size: 12px; }

body {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  line-height: 22px; }

.header {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: #264653; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  padding: 0 0 5px 0; }
  .nav__item {
    width: 100%;
    list-style: none; }
  .nav__link {
    color: white;
    text-decoration: none;
    border-bottom: 8px #2a2928 solid; }
  .nav__link:hover {
    color: yellow;
    border-bottom: 8px yellow solid; }

.hero {
  display: block;
  max-width: 900px;
  padding: 80px 2rem;
  margin: 0 auto; }
  .hero___header {
    margin: 0 0 1rem;
    font-size: 3rem; }
  .hero___description {
    font-size: 1rem; }

.content {
  display: block;
  margin: 1rem 0;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #6d8da8; }
  .content___header {
    font-size: 1.5rem;
    text-align: center; }

.sources {
  padding: 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 1rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #0b5291; }
  .sources___item {
    list-style: none; }

.source {
  text-decoration: none; }
  .source___title {
    font-size: 1.3rem;
    display: block;
    padding: .61rem 0;
    color: white; }
  .source___description {
    display: block; }
