/* Coolors Exported Palette - coolors.co/264653-247595-c23400-2a2928-f2f0ed */

/* HSL */
$color1: hsla(197%, 37%, 24%, 1);
$color2: hsla(197%, 61%, 36%, 1);
$color3: hsla(16%, 100%, 38%, 1);
$color4: hsla(30%, 2%, 16%, 1);
$color5: hsla(36%, 16%, 94%, 1);

/* RGB */
$color1: rgba(38, 70, 83, 1);
$color2: rgba(36, 117, 149, 1);
$color3: rgba(194, 52, 0, 1);
$color4: rgba(42, 41, 40, 1);
$color5: rgba(242, 240, 237, 1);